/* ------------------- */
/* Custom Properties   */
/* ------------------- */

:root {
  /* Colors */
  --clr-black: 0, 0%, 0%;
  --clr-red: 0, 100%, 27%;
  --clr-green: 125, 81%, 27%;
  --clr-white: 0 0% 100%;
  --clr-accent: 0, 3%, 70%;

  /* Font Sizes */
  --fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);
  --fs-800: 3.5rem;
  --fs-700: 1.5rem;
  --fs-600: 1rem;

  /* Font Families */
  --ff-serif: "Bellefair", serif;
  --ff-sans-cond: "Barlow Condensed", sans-serif;
  --ff-sans-normal: "Barlow", sans-serif;
}

/* ------------------- */
/* Reset               */
/* ------------------- */

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

/* set up the body */
body {
  font-family: var(--ff-sans-normal);
  font-size: var(--fs-600);
  color: hsl(var(--clr-red));
  background-color: hsl(var(--clr-black));
  background-image: url(images/table.png);
  background-size: cover;
  line-height: 1.5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

/* make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ------------------- */
/* Utility Classes     */
/* ------------------- */

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.d-block {
  display: block;
}

.flow > * + * {
  margin-top: var(--flow-space, 1rem);
}

/* for screen readers */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

/* ----------------------------- */
/* Layout                        */
/* ----------------------------- */

.game-container {
  background-color: hsl(var(--clr-accent));
  border: 5px dashed hsl(var(--clr-black));
  border-radius: 10px;
  text-align: center;
  display: grid;
  place-items: center;
  max-width: 60vw;
  padding-inline: 4rem;
  padding-block: 2rem;
}
